{
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-cond-assign": [
            "error",
            "always"
        ],
        "semi": [
            "error",
            "always"
        ],
        "indent": [
            "error",
            4
        ]
    }
}